.background{
    
    -fx-background-image: url("/bg.jpg");
        -fx-background-size: 640.0 400.0;
}

#background{
    
    -fx-background-image: url("/bg.jpg");
        -fx-background-size: 640.0 400.0;
}