.background{
    -fx-background-image: url("/Add.jpg");
   -fx-background-size: 529.0 339.0;
     -fx-background-repeat: no-repeat;
     -fx-background-position: center ;
     
    
}

#Conectbutton{
     -fx-background-image: url("/login.png");
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    
}

.root{
    
}

